#koalas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #koalas td, #koalas th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #koalas tr:nth-child(even){background-color: #f2f2f2;}
  
  #koalas tr:hover {background-color: #ddd;}
  
  #koalas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #177da5;
    color: white;
  }